.client_review {
  padding: 20px;
  background-color: var(--foreground-color);
  text-align: center;
  border-radius: 10px;
}

.client_review_avatar_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}